<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Deal</h1>
    <p>
      You have been added as a team member for the following transaction: <br/>
      <%= @subject %>

      <%= url_for(:host => "closingcenter.herokuapp.com",
            :controller => "closings",
            :action => "index") %>
    </p>
   
  </body>
</html>