<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Task</h1>
    <p>
      The following task has been assigned to you: <br/>
      <%= @subject %>
    </p>

    <p> Deadline: <%= @deadline %>

           <%= url_for(:host => "closingcenter.herokuapp.com",
            :controller => "closings",
            :action => "show",
            :id => @closing_id) %>
   
  </body>
</html>