// Place all the styles related to the closings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Closing {
	border-bottom: solid 1px #CCC;
}

.Closing p {
	margin: 4px 0;
}

.Closing.hover {
	background: #FAFAFA;
}

.Closing .admin {
	display: none;
}

.Closing.hover .admin {
	display: inline;
}